@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');


@media only screen and (min-width: 900px) {
    body{
        font-size: 16px;
    }
 }

 @media only screen and (max-width: 899px) {
     body {
         font-size: 11px;
     }
 }

.messageList {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    border-radius: 30px;
    padding-bottom: 20px;
}

.flex-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 35%;
    align-content: space-evenly;
}

.fancyButton.remove {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 15%;
}

.li-message {
    opacity: 0.7;
    background-image: linear-gradient(to right, white, #ffeec9);
    padding: 20px;
    border-radius: 20px;
}

.li-message:hover {
    opacity: 1;
}

.selected {
    opacity: 1;
    background-image: linear-gradient(to right, white, #ad774b);
}

.archiveBody {
    height: 100%;
    background: linear-gradient(to bottom, #ffffff, #ffbdac) no-repeat fixed;
    margin: 0;
}

h1 {
    margin-left: 40%;
    font-family: 'Damion', cursive;
    font-weight: 300;
}


ol {
    color: #000000;
    list-style-type: none;

}

ol li {
    position: relative;
    font: bold italic 1.2em "Open Sans", sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0 solid silver;
    border-width: 0 0 1px 0;
}

li p {
    font: 1em "Open Sans", sans-serif;
    padding-left: 5%;
    color: #292929;
}

span {
    position: absolute;
}