@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');


@media only screen and (min-width: 900px) {
    body{
        font-size: 16px;
    }
 }

 @media only screen and (max-width: 899px) {
     body {
         font-size: 11px;
     }
 }

.messageList {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    border-radius: 30px;
    padding-bottom: 10px;
}



.flex-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 35%;
    align-content: center;
}

.fancyButton.remove {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 15%;
}

.li-message {
    opacity: 1;
    background-image: linear-gradient(to right, white, #ffeec9);
    padding: 20px;
    border-radius: 20px;
    transition: opacity 0.4s;
}

.selected {
    opacity: 1;
    background-image: linear-gradient(to right, white, #ad774b);
}

.archiveBody {
    height: 100%;
    background: linear-gradient(to bottom, #ffffff, #ffbdac) no-repeat fixed;
    margin: 0;
}

h1 {
    margin-left: 40%;
    font-family: 'Damion', cursive;
    font-weight: 300;
    opacity: 0.8;
}

ol {
    color: #000000;
    list-style-type: none;

}

ol li {
    position: relative;
    font: bold italic 1.2em "Open Sans", sans-serif; 
    margin-top: 10px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.dim-hover:hover ol li:not(:hover) {
    opacity: 0.7;
}   


ol li:not(:last-child) {
    border: 0 solid silver;
    border-width: 0 0 1.5px 0;
}

.message-archive {
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient(to right, white, #ffeec9);   
}

ol li:hover, ol li:focus, ol li:active {
    box-shadow: 1px 5px 5px -5px rgba(0, 0, 24, 0.5);
    transform: scale(1.05);
}

li p {
    font: 1em "Open Sans", sans-serif;
    padding-left: 5%;
    color: #292929;
}

span {
    position: absolute;
}